.quadro {
	display: flex;
	justify-content: space-between;
	padding: 20px;
    width: 1024px;
    border: solid 5px #7dd390;
    border-radius: 10px;
    min-height: 400px;
    height: calc(100vh - 60px);
}

.coluna {
	background-color: #eee;
	border-radius: 5px;
	width: calc((100% - 80px) / 3);
	padding: 20px;
	margin: 0 10px;
}

.titulo-coluna {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;
}

.card {
	background-color: #fff;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;
}

.titulo-card {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 5px;
}

.descricao-card {
	font-size: 14px;
}

.botao-adicionar {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    height: 66px;
}

.botao-adicionar:hover {
    background-color: #3e8e41;
}
  
